<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>
<body>
  
  <div class="app">
    
    <form action="" method="post">
    {% if questions %}
    <div id="questions">
      {% for question in questions %}
      <div class="question">
        <p class="question-text">{{ question.question_text }}</p>
        <div class="choices">
        {% for choice in question.choice_set.all %}
          <input
            type="radio"
            name="choice{{ forloop.counter }}"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
          />
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    </form>
    
  </div>
  
</body>
</html>