<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PM Register</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "passwordmanager/register.css" %}" />
</head>
<body>
  
  <div class="register">
    <form action="{% url "pm:validate_register" %}" method="post">
      {% csrf_token %}
      <h2>Register</h2>
      <div id="fields">
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
        <p class="label">Username</p>
        <input type="text" name="username" id="username" />
        <p class="label">Password</p>
        <input type="password" name="password" id="password" />
        <p class="label">Confirm Password</p>
        <input type="password" name="confirm-pass" id="confirm-pass" />
      </div>
      <input type="submit" value="Submit" />
      <a href="{% url "pm:login" %}" id="sign-in">Already have an account?</a>
    </form>
  </div>
  
</body>
</html>